@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


@using RemasteredAdminPanel.MvcUI.Areas.AdminPanel.Models.ApiTypes
@model List<PaymentItem>






@section customStyles{
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


    <link rel="stylesheet" href="~/adminPanel/plugins/sweetalert2/sweetalert2.css">
}

@section customScripts{
    <script src="~/adminPanel/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/adminPanel/plugins/sweetalert2/sweetalert2.js"></script>



    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["excel", "pdf"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $("#btnSave").click(function () {
                var formData = new FormData();


                formData.append("CustomerId", $("#txtCustomerId").val());
                formData.append("Amount", $("#txtAmount").val());
                formData.append("InvoiceId", $("#txtInvoiceId").val());

                $.ajax({
                    url: "/AdminPanel/Payment/Save",
                    method: "post",
                    datatype: "json",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.isSuccess) {
                            //alert("İşlem Başarılı " + response.message);
                            Swal.fire(
                                'İşlem Başarılı',
                                response.message,
                                'success'
                            )
                        }
                        else {
                            //alert("İşlem Başarısız " + response.message);

                            Swal.fire(
                                'İşlem Başarısız',
                                response.message,
                                'error'
                            )
                        }
                    }
                });

            });


            $(".btnDelete").click(function () {

                var paymentId = $(this).attr("paymentid");

                var tr = $(this).parent().parent();

                Swal.fire({
                    title: 'Silmek İstiyor musunuz?',
                    text: "Bu işlem geri alınamaz!!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet Sil!',
                    cancelButtonText: 'Vazgeç'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/AdminPanel/Payment/Delete/" + paymentid,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire({
                                        title: 'İşlem Başarılı',
                                        text: response.message,
                                        icon: 'success',
                                        showCancelButton: false,
                                        confirmButtonText: 'Tamam'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // bu komut sayfayı yenilemek için:
                                            //window.location.reload();

                                            // yukarıdaki gibi sayfayı reload edip tüm datayı yenidençekmektense, clientdaki html de ilgili satırı bulup silme yoluna da gidebiliriz :

                                            $(tr).fadeOut(2500, function () {
                                                $(tr).remove();
                                            });

                                        }
                                    });
                                }
                                else {
                                    Swal.fire(
                                        'İşlem Başarısız',
                                        response.message,
                                        'error'
                                    );
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire(
                            'İşlem İptal Edildi',
                            'Silme işlemi isteğiniz üzerine iptal edilmiştir',
                            'warning'
                        )
                    }
                })
            });

            $(".btnEdit").click(function () {
                var paymentId = $(this).attr("paymentid");

                $.ajax({
                    url: "/AdminPanel/Payment/GetPayment/" + paymentId,
                    method: "post",
                    datatype: "json",
                    success: function (response) {
                        $("#txtCustomerIdEdit").val(response.customerId);
                        $("#txtAmountEdit").val(response.amount);
                        $("#hfPaymentIdEdit").val(response.paymentId);


                    }
                });

                $("#divEditPayment").modal("show");
            });

        });
    </script>

}




<div class="row">
    <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Ödemeler</h3>
                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">List</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Yeni Ödeme</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">


                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                <tr>
                                   
                                    <th>Müşteri No</th>
                                    <th>Fiyat</th>
                                    <th></th>
                                    <th></th>


                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                    
                                        <td>@item.CustomerID</td>
                                        <td>@item.Amount</td>

                                        <td>
                                            <button type="button" class="btn btn-warning btnEdit"
                                                    customerid="@item.PaymentID">
                                                Düzenle
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btnDelete"
                                                    customerid="@item.PaymentID">
                                                Sil
                                            </button>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>

                                   
                                    <th>Müşteri No</th>
                                    <th>Fiyat</th>
                                    <th></th>
                                    <th></th>



                                </tr>
                            </tfoot>
                        </table>


                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Yeni Ödeme  Kayıt Formu</h3>
                            </div>
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Adı</label>
                                        <input type="text" class="form-control" id="txtCustomerId" placeholder="Müşteri No">
                                    </div>
                                    <div class="form-group">
                                        <label>Fiyat</label>
                                        <input type="text" class="form-control" id="txtAmount" placeholder="Fiyat">
                                    </div>
                                    <div class="form-group">
                                        <label>Fatura No</label>
                                        <input type="text" class="form-control" id="txtInvoiceId" placeholder="Fatura No">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" data-backdrop="static" id="divEditPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ödeme Düzenleme Formu</h3>
                    </div>
                    <form>
                        <input type="hidden" id="hfPaymentId" />

                        <div class="card-body">
                            <div class="form-group">
                                <label>Adı</label>
                                <input type="text" class="form-control" id="txtCustomerIdEdit" placeholder="Müşteri No">
                            </div>
                            <div class="form-group">
                                <label>Adı</label>
                                <input type="text" class="form-control" id="txtAmountEdit" placeholder="Fiyat">
                            </div>


                        </div>
                        <div class="card-footer">
                            <button id="btnEdit" type="button" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
