<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remastered | Admin </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
        <link rel="stylesheet" href="~/adminPanel/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
        <link rel="stylesheet" href="~/adminPanel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
        <link rel="stylesheet" href="~/adminPanel/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                    <a href="/adminPanel/Home/Index" class="brand-link">
                        <img src="/adminPanel/dist/img/logom.png"
                             alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    </a>
                    <a href="/adminPanel/Home/Index" class="h1"><b>Remaster</b>ed</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Remastered admin paneline hoşgeldin</p>

                <form action="../../index3.html" method="post">
                    <div class="input-group mb-3">
                            <input id="txtUserName" type="text" class="form-control" placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                            <input id="txtPassword"  type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                                <button id="btnLogIn"  type="button" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

               
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttum</a>
                </p>
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
        <script src="~/adminPanel/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
        <script src="~/adminPanel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
        <script src="~/adminPanel/dist/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#btnLogIn").click(function () {

                let formDataObject =
                {
                    UserName: $("#txtUserName").val(),
                    Password: $("#txtPassword").val()
                };

                $.ajax({
                    url: "/AdminPanel/Auth/LogIn",
                    method: "post",
                    datatype: "json",
                    data: { dto: formDataObject },
                    success: function (response) {
                        if (response.isSuccess) {
                            window.location.href = "/AdminPanel/Home/Index";
                        }
                        else {
                            var errMessages = "<div class='alert alert-danger'>";

                            for (var i = 0; i < response.messages.length; i++) {
                                errMessages += response.messages[i] + "<br />";
                            }

                            errMessages += "</div>";

                            $("#divMessages").html(errMessages);
                        }
                    }
                });


            });
        });

    </script>
</body>
</html>

