@using RemasteredAdminPanel.MvcUI.Areas.AdminPanel.Models.ApiTypes;
@using RemasteredPanel.MvcUI.Areas.AdminPanel.Models.ApiTypes;

@model AdminPanelUserItem

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/adminPanel/Home/Index" class="brand-link">
        <img src="/adminPanel/dist/img/logom.png"
             alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"> Remastered</span>
    </a>
    <!-- Brand Logo -->
    <a href="/adminPanel/Home/Index" class="brand-link">
        <span class="brand-text font-weight-light">Admin</span>
    </a>
    <!-- Brand Logo -->
   

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/adminPanel/dist/img/user1-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">
            @Model.FullName
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-header">YONETICI MENU</li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                İçerik Yönetimi
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/AdminPanel/Customer/Index" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Customers</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/AdminPanel/Vehicle/Index" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Vehicles</p>
                </a>
              </li>
            
               <li class="nav-item">
                <a href="/AdminPanel/Technician/Index" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Personeller</p>
                </a>
              </li>

                        <li class="nav-item">
                            <a href="/AdminPanel/ServicePerformed/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Servis Kayıtları</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="/AdminPanel/Service/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Servisler</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/AdminPanel/Payment/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ödemeler</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/AdminPanel/Issue/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Şikayetler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Invoice/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Faturalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Order/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Siparişler</p>
                            </a>
                        </li>
            </ul>
          </li>
        </ul>
       
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>