<footer class="main-footer">
    <strong>Copyright &copy; 2022-2023 <a href="https://remastered.com">Remastered.com</a>.</strong>
Tüm Hakları Saklıdır
<div class="float-right d-none d-sm-inline-block">
        <b>Remastered</b> Tuning
    </div>
</footer>